@charset "UTF-8";

* {
    text-align: center;
}
.box_todo {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 50px 70px;
    margin: 0 auto;
}
.btn_main {
    width: 70px;
    height: 40px;
    margin: 15px;
    background-color: #fff;
    border: 1px solid #000;
}
.btn_main:hover {
    background-color: darkseagreen;
}
.input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    width: 200px;
    height: 25px;
}
#option {
    height: 25px;
}
.btn_plus {
    width: 80px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}